$body-bg: #d9d6d2;
$card-color: #0d0d0d;
$card-cap-bg: #5d6d73;
$card-cap-color: brown;
$card-bg: #d9d6d2;
/* $nav-tabs-border-color: red; */

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.card-body-element {
  background: #c2c0bd;
  background: linear-gradient(139deg, #c2c0bd 29%, #202426 82%);
}

.repoName {
  background-color: #d9d6d2;
}
