$body-bg: #d9d6d2;
$card-color: #0d0d0d;
$card-cap-bg: #bf9e39;
$card-cap-color: brown;
$card-bg: #d9d6d2;
/* $nav-tabs-border-color: red; */

/* @import "../../../node_modules/bootstrap/scss/bootstrap.scss"; */

.card-body-element {
  background: #5d6d73;
  background: linear-gradient(
    139deg,
    rgba(93, 109, 115, 1) 29%,
    rgba(32, 36, 38, 1) 82%
  );
}

.repoName {
  background-color: #d9d6d2;
}
