@import "../scss/custom-variables";

/* $body-bg: $custom-soft; */
$body-bg: $custom-blue-dark;
$card-color: $custom-soft;
$card-cap-bg: $custom-blue-soft;
$card-bg: $custom-blue-dark;
$nav-tabs-link-active-color: $custom-soft;
$nav-tabs-link-active-bg: $custom-blue-soft;
$border-color: $custom-soft;
$border-width: 2px;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.card-body-element {
  background: #c2c0bd;
  background: linear-gradient(
    139deg,
    $custom-blue-middle 29%,
    $custom-blue-dark 82%
  );
}

ul {
  margin: 5px;
  padding: 0;

  li {
    list-style-type: none;
  }
}

a {
  color: $custom-soft;

  &:hover {
    color: lighten($custom-blue-middle, 30%);
  }
}

h6 {
  color: black;
}

.icon {
  width: 16px;
}

.data-list {
  color: $custom-soft;
  margin: 10px;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation-duration: 0.4s;
}
